<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="node_modules/angular/angular.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="http://127.0.0.1:8080/socket.io/socket.io.js"></script>
    <script src="app.js"></script>    
   
</head>

<body ng-app="chatApp">
    <div class="chat" ng-controller="chatController">
        <input type="text" class="chat-name" placeholder="Enter Your name" ng-model="chat.username">
        <div class="chat-messages">   
           <ul>
               <li ng-repeat="message in messages">{{message.name}} : {{message.message}}</li>
           </ul>            
        </div>
        <textarea  placeholder="Type your messages" ng-model="chat.message"></textarea>
        <button type="submit" ng-click="send(chat)">Send</button>
    </div>
    
</body>
</html>